<%- include ('../pages/header') %>
  

      

        <!-- Body panel -->
        
        <div class="">
          <!-- Body content here -->
          <h2>Body</h2>
          <p>Welcome to the dashboard!</p>
        </div>
      

  <%- include ('../pages/footer') %>
